.body {
  width: 50%;
  margin-left: 25%;
}

.comics {
  text-align: center;
}

.meta {
  font-style: italic;
  text-align: left;
}

hr {
  width: 50%
}

/* Pagination */
.pagination_group {
  text-align: center;
}

.pagination_item {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
}

.pagination_item_active {
  font-weight: bold;
}