.body {
  width: 50%;
  margin-left: 25%;
}

.comics {
  margin-top: 10px;
  text-align: center;
}

.filters {
  margin-left: 25%;
  display: flex;
  flex-direction: row;
  flex: 1;
  align-content: center;
}

.filters div {
  margin: 5px;
}

.filters  label {
  margin-right: 5px;
}

.meta {
  font-style: italic;
  text-align: left;
}

hr {
  width: 50%
}

/* Pagination */
.pagination_group {
  text-align: center;
}

.pagination_item {
  list-style-type: none;
  display: inline-block;
  margin: 5px;
}

.pagination_item_active {
  font-weight: bold;
}